.notFound{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;height: 100%;
}
.notFound h1{
    font-size: 65px;
    font-weight: bolder;
    color: red;
}
.notFound a{
    background-color: #19283f;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 99999999999999px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
